---
layout: default
---

<!-- Introductory text for the home page -->
<section class="home-intro">
  <h1>Welcome to Colton Behannon's Portfolio</h1>
  <p>
    Explore my projects, read my blog, and learn more about my journey as a developer and educator. Whether you're here to see my latest work, get in touch, or just browse, I'm glad you're visiting!
  </p>
</section>

<!-- Stylish tiles linking to main sections -->
<section class="home-tiles">
  <a class="home-tile" href="/projects">
    <img src="/assets/img/projects/proj-1/thumbnail.jpg" alt="Projects">
    <div class="tile-title">Projects</div>
    <div class="tile-desc">See a showcase of my personal, school, and teaching projects.</div>
  </a>
  <a class="home-tile" href="/blog">
    <img src="/assets/img/projects/proj-2/thumbnail.jpg" alt="Blog">
    <div class="tile-title">Blog</div>
    <div class="tile-desc">Read my thoughts on coding, teaching, and technology.</div>
  </a>
  <a class="home-tile" href="/contact">
    <img src="/assets/img/projects/proj-4/thumbnail.jpg" alt="Contact">
    <div class="tile-title">Contact</div>
    <div class="tile-desc">Get in touch with me for collaboration or questions.</div>
  </a>
</section>
